


.back-image{
	position: absolute;
	position: fixed;
	z-index: -100;
	opacity: 0.4; 
}
.tally-h1{
	font-style: bold;
	font-family: cursive;
	text-align: center;
	text-decoration: underline;
	font-size: 15vw;
	font-style: italic;
	color: #002265;
	font-weight: 700;
	
}
#tally-h5{
	text-align: center;
	text-decoration: underline;
	padding-bottom: 5%;
}
	



.gallery-h{
	font-style: bold;
	font-family: cursive;
	text-align: center;
	text-decoration: underline;
	
	font-style: italic;
	color: brown;
	
}


* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}



/*  why us css or background-white */

.background-white{
	background-color: white;
	margin-top: -24px;

}
.background-black{
	background-color: black;
	z-index: -10 !important;

}

/*new section for why us?*/
.ar-icon{
    font-size: 115px !important;
    color: #362190c9;
    display: block !important;
}
.ar-icon:hover{
    color: blue;
    cursor: pointer;
    font-size: 100px !important;
}
.row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.why-us{
	color: black;
	text-align: center;
	font-family:candara;
	font-weight: 700;
	font-size: 4em;
	padding-top: 2%;
	padding-bottom: 5%;
}
.t-right{
	text-align: right;
}
.a-box{
	font-weight: 500;
}
.a-box h4{
	font-weight: bold;
}
.t-center{
	text-align: center;
}
.phone-layout{
	display: none;
}

/*old section for why us*/
/*
.why-us{
	color: black;
	text-align: center;
	font-family: vardana, sans-serif;
	font-weight: 700;
	font-size: 4em;
	padding-top: 2%;
}
.bg-why-us{
	border: 2px solid grey;
	padding: 5%;
	margin: 0.5%;
	margin-right: 5% !important;
	margin-left: 5% !important;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;

}

.why-us-img {
	text-align: center;
}
.bg-why-us:hover {
	margin-right: 2% !important;
	margin-left: 2% !important;
	background-color: blue;
	color: white;
}
    */


.img-shine{
	position: absolute;
	z-index:0 !important;
	width: 100%;
	margin-left: -15px; 
}



.h-100{
	color: #76f7ff;
	text-align: center;
	text-shadow: 2px solid green;
	font-family:candara;
	margin-top: -8%;
	font-size: 20vw;
	
}
#sh-100{
	color: #76f7ff;
	text-align: center;
	font-family:candara;
	margin-top: -5%;
	font-size: 10vw;
}



/*  end  */


.n-tabs{
	background-color: #8ee0ed73;
	font-size: 150%;
	font-weight: 500;
	color: black;
}

 .nav{
 	padding: 3%;
 	padding-bottom: 0px;
 	margin-left: -15px;
 	margin-right: -15px;
 }
 .h2-op{
 	font-size: 4em;
 	background-color: #8ee0ed73;
 	margin-left: -15px;
 	margin-right: -15px;
 	margin-top: 0px;
 	margin-bottom: 0px;
 	text-align: center;
 	padding: 3%;
 	font-weight: 700;
 	font-family: sans-serif; 
 }
 .content-shown{
 	padding-left: 5%;
 	padding-right: 5%;
 	background-color: #8ee0ed73;
 	margin-left: -15px;
 	margin-right: -15px;
 	padding-bottom: 15%;
 	font-weight: 400;
 }
*{
	font-family: vardana, sans-serif;
}




/*   chatbot code start   ----*/
body {font-family: Arial, Helvetica, sans-serif;}


/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #2321ffc4;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}


/*   our team   section    */

.ot-head{
	font-size: 7vw;
	text-align: center;
	font-weight: bold;
}


/* On smaller screens, decrease text size */
@media (max-width: 300px) {
  .text {font-size: 11px}
  .tally-h1{
		
		margin-top: -30% !important;
	}
	

}

@media (max-width: 	720px){
	

@media (max-width: 991.98px){
	 .ftco-navbar-light {
     background: #000000b0 !important;
     position: relative;
     top: 0;
 	}
 	
}
@media (max-width: 	540px){
	.tally-h1{
		
		margin-top: -13%;
	}
	.why-us{
		font-size: 2em !important;
	}
	.h2-op{
		font-size: 2em !important;
	}
	.open-button{
		right: 0px;
	}
	.phone-layout{
		display: block;
	}
	.not-phone-layout{
		display: none;
	}
}